.state-boundary {
  fill: none;
  stroke: #fff;
}
/*.background {
  fill: #fff;
}*/
#states {
  fill: #7fffd4;
}

#states .active {
  fill: orange;
}
.county-boundary {
  fill: none;
  stroke: #fff;
  stroke-width: .5px;
}

/*.subunit.CA { fill: #ddc; }
.subunit.NY { fill: #cdd; }
.subunit.TX { fill: #cdc; }
.subunit.VA { fill: #dcd; }
.subunit.NV { display: none; }*/